<!-- Display overview of sources -->

{{ partial:check_access }}

{{? $current_category = $slug; ?}}

<div class="md:flex">
    <div id="overlay" class="bg-[#000000a5] top-0 fixed w-screen h-screen hidden"></div>
    <div id="sidebar" class="relative w-[20%] hidden md:block">
        <aside class="bg-[#e4efe0] h-full fixed top-16 md:top-0 pt-14 md:pt-0">
            <div class="md:mt-36 mx-8">
                <button id="close-sidebar" class="block md:hidden"><i class="fa-solid fa-xmark"></i></button>

                <div class="nav-folder">
                    <div class="flex justify-between content-center gap-6 mb-2 mt-10">
                        <h4 class="font-bold text-lg max-w-[150px] text-darker-green">Informatie type</h4>

                        <button class="toggle-arrow"><i class="fa-solid fa-chevron-down text-darker-green"></i></button>

                    </div>
                </div>


                <form method="get" class=" child-pages">

                    {{ taxonomy:content_type }}

                        {{?
                            $checked = [];

                            if( isset($_GET['content_type']) ){
                                $checked = $_GET['content_type'];
                            }

                        ?}}

                        <div class="mb-2">
                            <input type="checkbox" name="content_type[]" id="{{ title }}" class="content-type" value="{{$ $slug $}}" {{? if(in_array($slug , $checked)){ echo 'checked';}?}}>

                            <label for="{{ title }}">{{ title }}</label>
                        </div>

                    {{ /taxonomy:content_type }}

                    <button type="submit" class="mt-12 primary-btn w-full ">Filter</button>


                </form>

            </div>

        </aside>
    </div>


    <div class="mt-36 max-w-[1200px] md:w-[85%]">
        <div class="mx-auto w-[80%]">
            {{ partial:breadcrumbs }}

            <h1 class="mt-12 font-bold text-3xl mb-12">{{ title }}</h1>

            <button id="open-sidebar" class=" md:hidden bg-dark-yellow w-full p-4 rounded-2xl mb-12"><i class="fa-solid fa-filter text-white mr-2"></i> <span class="text-white uppercase font-bold">Filters</span></button>

            {{ if get:content_type }}
                {{?
                    $content_types_checked = [];
                    $content_types_checked = $_GET['content_type'];

                ?}}

                {{ foreach array="{ $content_types_checked }" as="type" }}

                    {{ collection:sources taxonomy:content_type="{type}" status:in="published"}}
                        {{? $source_id = $id ?}}
                        {{ get_content from="{ $source_id }" }}
                            {{ categories }}

                                {{ if $current_category === slug  }}
                                    {{ get_content from="{ $source_id }" }}
                                        {{ partial:cards/source_card }}
                                    {{ /get_content}}
                                {{ /if }}

                            {{ /categories }}
                        {{ /get_content }}

                    {{ /collection:sources }}

                {{ /foreach }}
            {{ else }}
            {{ entries as="posts" status:in="published"}}
                {{ posts }}
                    {{ partial:cards/source_card }}
                {{ /posts }}
            {{ /entries }}
            {{ /if }}

        </div>

    </div>
</div>

{{# _____________________ Open & close sidebar _________________ #}}
<script>
    const sidebar = document.getElementById('overlay');
    const overlay = document.getElementById('sidebar');
    const openSidebarBtn = document.getElementById('open-sidebar');
    const closeSidebarBtn = document.getElementById('close-sidebar');

    openSidebarBtn.addEventListener('click', ()=>{
        overlay.classList.remove('hidden');
        sidebar.classList.remove('hidden');
    });

    closeSidebarBtn.addEventListener('click', ()=>{
        overlay.classList.add('hidden');
        sidebar.classList.add('hidden');
    });

</script>
