{{ if logged_in }}
    {{ user }}
        {{ if accept_register_proposal}}
            <div class="md:mt-36 mx-auto w-[80%] max-w-[1200px]">

                {{ if roles }}
                    {{ foreach:roles }}
                        {{ if value !== "ex-student"}}
                            {{ partial:cards/create_mini_site }}
                        {{ /if }}
                    {{ /foreach:roles }}
                {{ else }}
                    {{ partial:cards/create_mini_site }}
                {{ /if }}


                <!-------------------------- Toggle categories ------------------>

                <div id="category-toggle"
                    class="flex justify-between items-center md:w-[60%] mx-auto bg-white p-2 rounded-3xl border-2 mb-12">
                    <p class="toggle toggle-categories px-5 py-[0.5em] cursor-pointer">Alles</p>
                    <p class="toggle px-5 py-[0.5em] cursor-pointer">Algemeen</p>
                    <p class="toggle px-5 py-[0.5em] cursor-pointer">Theologisch</p>
                </div>

                <!--------------------- Categories --------------------------->

                <div id="all-categories" class="categories-grid mb-32"></div>
            </div>

            {{# _____________________ Script: filter  categories ___________#}}
            <script>
                const categoryToggle = document.querySelector('#category-toggle');
                const toggles = document.querySelectorAll('.toggle');
                const container = document.querySelector('#all-categories');

                fetch('http://localhost:8080/api/taxonomies/categories/terms')
                    .then((response) => response.json())
                    .then((data) => {

                        function addCard(taxonomy) {
                            container.innerHTML +=
                                `
                                    <a class="block" href="${taxonomy.url}">
                                        <span class="category">${taxonomy.category_group.label}</span>
                                        <img src="${taxonomy.image.url}"
                                            alt="category image">
                                        <h3>${taxonomy.title}</h3>
                                    </a>
                                `
                        }

                        data.data.forEach(taxonomy => {
                            addCard(taxonomy);
                        })

                        categoryToggle.addEventListener('click', (e) => {
                            container.innerHTML = '';

                            toggles.forEach((toggle) => {
                                toggle.classList.remove('toggle-categories');
                                e.target.classList.add('toggle-categories');
                            });


                            data.data.forEach(taxonomy => {

                                if (e.target.textContent === 'Alles' || e.target.textContent === taxonomy
                                    .category_group.label) {
                                    addCard(taxonomy);
                                }

                            });
                        })

                    });

            </script>



        {{ else }}
            {{ redirect to="/algemeen" }}
        {{ /if}}
    {{ /user }}

{{ else}}
    {{ redirect to="/algemeen" }}
{{ /if }}
