<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_token" content="{{ csrf_token }}">
    <title>{{ title ?? site:name }}</title>
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
    <script src="https://kit.fontawesome.com/f677a13f9c.js" crossorigin="anonymous"></script>

    <!-- Include stylesheet -->

</head>

<body class="bg-gray-50 font-sans leading-normal">
    <!-- <div class="mx-auto px-2 lg:min-h-screen flex flex-col items-center justify-center"> -->

    <!----------------------- START HEADER ---------------------------->

    {{ if logged_in}}
        {{ user }}
            {{ if accept_register_proposal }}
                {{ if title !== "Public page"}}
                    {{ partial:header_logged_in }}
                {{ /if }}
            {{ /if }}
        {{ /user }}

    {{# {{ else }}
        {{ if is_homepage }}
            {{ partial:header_public }}
        {{ else }}
            Logo
        {{ /if }} #}}

    {{ /if}}








    <!----------------------- END HEADER ---------------------------->

    {{ template_content }}


    <!-- </div> -->
    <script src="{{ mix src='/js/site.js' }}"></script>

    {{# <script>
        $(function() {
            $.ajaxSetup({
              headers: {
                'X-CSRF-Token': $('meta[name="_token"]').attr('content')
              }
            });
          });
    </script> #}}
</body>

</html>
