{{# ___________ Color buttons of the secondary navigation of the editor ________________#}}
<div class="bubble-menu-color">
    <div class=" bg-white drop-shadow-md rounded-md w-min">
        <div class="flex gap-2 p-2">
            <button class="block dark-grey-btn p-2 font-bold text-[#474747] border-2 hover:bg-slate-50 rounded">
                A
            </button>

            <button class="block grey-btn p-2 font-bold text-[#787774] border-2 hover:bg-slate-50 rounded">
                A
            </button>

            <button class="block brown-btn p-2 font-bold text-[#9F6B53] border-2 hover:bg-slate-50 rounded">
                A
            </button>

            <button class="block orange-btn p-2 font-bold text-[#D9730D] border-2 hover:bg-slate-50 rounded">
                A
            </button>

            <button class="block yellow-btn p-2 font-bold text-[#CB912F] border-2 hover:bg-slate-50 rounded">
                A
            </button>

            <button class="block green-btn p-2 font-bold text-[#448361] border-2 hover:bg-slate-50 rounded">
                A
            </button>

            <button class="block blue-btn p-2 font-bold text-[#337EA9] border-2 hover:bg-slate-50 rounded">
                A
            </button>

            <button class="block purple-btn p-2 font-bold text-[#9065B0] border-2 hover:bg-slate-50 rounded">
                A
            </button>

            <button class="block pink-btn p-2 font-bold text-[#C14C8A] border-2 hover:bg-slate-50 rounded">
                A
            </button>

            <button class="block red-btn p-2 font-bold text-[#D44C47] border-2 hover:bg-slate-50 rounded">
                A
            </button>
        </div>


    </div>

</div>
