<div class="w-[45%] h-full hidden md:block">
    <div class=" h-full w-full relative">
        <img src="https://images.unsplash.com/photo-1578059456805-cd4809a05d70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" class="block h-[100vh] w-full object-cover" alt="">


        <div class="absolute w-full top-0 h-[100vh] bg-[#2626264b] backdrop-blur-lg flex justify-center items-center">
            <div class="bg-[#ffffff70] rounded-xl py-8 px-6 w-[80%]">
                <div class="flex justify-content">
                    <i class="fa-solid fa-star-and-crescent text-emerald-600 block text-8xl mx-auto mb-12"></i>
                </div>


                <p class="text-white font-bold text-lg text-center">Krijg toegang tot een verscheidenheid aan bronmateriaal omtrent <span class="inline-block w-fit px-2 mx-2 bg-middle-green text-white">de islam!</span></p>

            </div>
        </div>
    </div>
</div>
