<div class="w-full top-0 fixed z-10">
{{ if logged_in }}
    {{ user }}
        {{ if !accept_register_proposal }}
            <div class="p-6 bg-dark-yellow">
                <h3 class="text-center text-xl">Uw registratie voorstel is in behandeling.</h3>
                <p class="text-center mt-2">U kunt nog niet inloggen tot dat het voorstel wordt geacepteerd.</p>
            </div>
        {{ /if }}
    {{ /user}}
{{ /if }}

<header class="flex justify-center px-8 md:px-20 py-4 bg-white w-full border-b-2 border-slate-200">
    <div class="flex justify-between w-full items-center">
        <a href="/" class="flex gap-2 items-center">
            {{# __________________________ Logo ______________________ #}}
            {{ if logo:logo_type === "name_and_illustration" }}
                {{ logo:illustration }}
                    <img class="md:h-12 h-8" src="{{ url }}" alt="logo artevelde">
                {{ /logo:illustration }}

                <h4 class="text-[#5AB946] font-bold uppercase">{{ logo:website_name }}</h4>
            {{ /if }}

            {{ if logo:logo_type === "illustration" }}
                {{ logo:illustration }}
                    <img class="md:h-12 h-8" src="{{ url }}" alt="logo artevelde">
                {{ /logo:illustration }}
            {{ /if }}


            {{ if logo:logo_type === "name" }}
                <h4 class="md:text-white text-[#5AB946] font-bold uppercase">{{ logo:website_name }}</h4>
            {{ /if }}
        </a>


        <div>
            <ul class="md:flex md:gap-12 items-center">
                {{ if about_us }}
                    <li class="hover:text-[#7EC070]"><a href="#over-ons">Over ons</a></li>
                {{ /if}}

                <li class="hover:text-[#7EC070]"><a href="#contact-register">Contact</a></li>

                {{# Avatar img or login btn #}}
                {{ if logged_in }}
                    {{ user }}
                        {{ if accept_register_proposal }}
                        <a href="/account">
                            {{ if (avatar) }}

                                <img src="{{ avatar }}"
                                class="h-9 w-9 md:w-14 md:h-14 rounded-full object-cover" alt="profile picture">

                            {{ else }}
                                    <div class="bg-gradient-to-r from-lime-400 to-emerald-500 rounded-full h-8 w-8 md:w-14 md:h-14 flex justify-center items-center text-white capitalize">
                                        {{$ substr($name, 0, 1); $}}
                                    </div>
                            {{ /if }}
                        </a>
                        {{ else }}
                            <li class="primary-btn"><a href="/inloggen">Log in</a></li>
                        {{ /if }}
                    {{ /user}}
                {{ else }}
                    <li class="primary-btn"><a href="/inloggen">Log in</a></li>
                {{ /if }}

            </ul>
        </div>
    </div>
</header>
</div>
