<header class="flex justify-center px-8 md:px-20 py-4 bg-white w-full border-b-2 border-slate-200 fixed top-0 z-10">
    <div class="flex justify-between w-full items-center max-w-[1200px] mx-auto">

        <a href="/" class="flex gap-2 items-center">
            {{# __________________________ Logo ______________________ #}}
            {{ if logo:logo_type === "name_and_illustration" }}
                {{ logo:illustration }}
                    <img class="md:h-12 h-8" src="{{ url }}" alt="logo artevelde">
                {{ /logo:illustration }}

                <h4 class="text-[#5AB946] font-bold uppercase">{{ logo:website_name }}</h4>
            {{ /if }}

            {{ if logo:logo_type === "illustration" }}
                {{ logo:illustration }}
                    <img class="md:h-12 h-8" src="{{ url }}" alt="logo artevelde">
                {{ /logo:illustration }}
            {{ /if }}


            {{ if logo:logo_type === "name" }}
                <h4 class="md:text-white text-[#5AB946] font-bold uppercase">{{ logo:website_name }}</h4>
            {{ /if }}
        </a>


        {{# _______________________ Searchbar_______________________ #}}
        <form action="/search" class="border-2 rounded-md py-1 px-2 w-[60%] flex">
            <input type="search" name="q" placeholder="Search" class="w-full outline-none align-middle pr-4 pl-2" value="{{get:q}}">
            <button type="submit" class="bg-middle-green p-1 md:p-2 rounded-md"><i
                class="fa-solid fa-magnifying-glass text-white"></i></button>
        </form>


        {{# ___________________Profile picture _________________________#}}
        <div>
            <a href="/account/persoonlijke-info">
                {{ user }}
                    {{ if (avatar) }}

                        <img src="{{ avatar }}"
                        class="h-8 w-8 md:w-12 md:h-12 rounded-full object-cover" alt="profile picture">

                    {{ else }}
                        <div class="bg-gradient-to-r from-lime-400 to-emerald-500 rounded-full h-8 w-8 md:w-12 md:h-12 flex justify-center items-center text-white capitalize">
                            {{$ substr($name, 0, 1); $}}
                        </div>
                    {{ /if }}

                {{ /user }}
            </a>
        </div>
    </div>
</header>
