<div class="bg-white p-6 rounded-2xl border-2 md:flex md:gap-20 mb-12">
    <div class="w-[60%]">
        <img class="rounded-xl w-full h-full max-h-[200px] object-cover mb-8 md:mb-0"
            src="https://images.unsplash.com/photo-1499914485622-a88fac536970?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            alt="">
    </div>

    <div class="w-full">
        <h2 class="font-bold text-xl mb-4">Mijn verdiepingsdossiers & themadossiers</h2>
        <p class="mb-8">Maak uw eigen verdiepingsdossier of themadossier aan.</p>

        <div class="flex max-w-[400px] justify-between items-end mt-20">
            <a href="/account/verdiepingsdossiers" class="underline text-middle-green block">Bekijk dossiers</a>
            <a href="/nieuw-verdiepingsdossier" class="primary-btn block">Nieuw</a>
        </div>
    </div>
</div>
