<div class="bg-grey-lighter py-10">
    <label class="w-44 flex flex-col items-center px-2 py-3 bg-green-200 active:bg-green-500 hover:bg-green-300 rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer">
        <span class="mt-2 text-base leading-normal ">
            <i class="fa-solid fa-image text-2xl text-green-700"></i>
        </span>
        <input
            type="file"
            name="image"
            accept="image/*"
            class="hidden">
    </label>
</div>
