{{ if logged_out }}

{{ partial:navigations/authentification_header }}

<div class="flex">
    {{ partial:authentification_image }}

    <div class="w-[50%] mt-28">
        <div class="w-[70%] max-w-[5000px] mx-auto">
            {{ user:forgot_password_form reset_url="/reset-password" }}

            <h1 class=" text-3xl mb-8">Wachtwoord vergeten</h1>

            {{ if errors }}
            <div class="bg-red-400 rounded text-white p-2 mb-4">
                {{ errors }}
                {{ value }}<br>
                {{ /errors }}
            </div>
            {{ /if }}

            {{ if success }}
            <div class="bg-green-400 rounded text-white p-2 mb-4">
                {{ success }}<br>
            </div>
            {{ /if }}

            <div>
                <label class="mb-2 block">Email</label>
                <input class="border border-gray-300 rounded w-full block px-2 py-1" type="email" name="email"
                    value="{{ old:email }}" />
            </div>


            <button class="primary-btn w-full block mt-16" type="submit">Verzend reset email</button>

            {{ /user:forgot_password_form }}
        </div>

    </div>
</div>

{{ else }}
    {{ redirect to="/" }}
{{ /if }}


