{{ if logged_out }}
    {{ partial:navigations/authentification_header }}
    <div class="flex">
        {{ partial:authentification_image }}

        <div class="w-[50%] mt-28">
            <div class="w-[70%] max-w-[5000px] mx-auto">
                {{ user:login_form }}

                <h1 class=" text-3xl mb-8">Inloggen</h1>

                {{ if errors }}
                <div class="bg-red-400 rounded text-white p-2 mb-4">
                    {{ errors }}
                    {{ value }}<br>
                    {{ /errors }}
                </div>
                {{ /if }}

                {{ if success }}
                <div class="bg-green-400 rounded text-white p-2 mb-4">
                    {{ success }}<br>
                </div>
                {{ /if }}

                <div>
                    <label class="mb-2 block">Email</label>
                    <input class="border border-gray-300 rounded w-full block px-2 py-1" type="email" name="email" value="{{ old:email }}" />
                </div>

                <div class="mt-6">
                    <label class="mb-2 block">Wachtwoord</label>
                    <div class="flex items-center">
                        <input id="password" class="border border-gray-300 rounded w-full block px-2 py-1 pr-10" type="password" name="password"
                        value="{{ old:password }}" />
                        <i id="toggle-password" class="fa-regular fa-eye-slash -ml-8 cursor-pointer"></i>
                    </div>



                    <div class="flex justify-end mt-4">
                        <a class="block underline text-lighter-green hover:text-green-300" href="/forgot-password">Wachtwoord vergeten</a>
                    </div>

                </div>


                <button class="primary-btn w-full block mt-16" type="submit">Log in</button>

                <p class="text-center mt-6 mb-4">Nog geen account? <a href="/" class=" text-darker-green ml-1 font-bold">Vraag je inloggegevens aan</a></p>

                {{ /user:login_form }}
            </div>

        </div>
    </div>

    {{ partial:scripts/script_password_toggle }}

{{ else }}
    {{ redirect to="/" }}
{{ /if }}
