<div class="mt-36 ">
    <h1 class="text-6xl text-middle-green text-center mb-6">403</h1>
    <h3 class="text-2xl text-center text-zinc-500">U heeft geen toegang tot de opgevraagde content.</h3>

    <div class="mt-12">
        <p class="text-center text-zinc-400">Het kan zijn dat uw regestratieverzoek nog niet is geacepteerd of dat je niet juiste rechten hebt om deze pagina te bekijken.</p>
        <p class="text-center text-zinc-400">Probeer het later nog eens opnieuw of cantacteer de beheerder van deze website.</p>
    </div>

    <div class="flex justify-center mt-12">
        <a href="/" class="primary-btn">Ga naar de publieke pagina</a>
    </div>
</div>




