{{ if logged_out }}
<div class="flex">
    <div class="w-full h-full hidden md:block">
        <div class="bg-green-800 h-full w-full"></div>
    </div>

    <div class="w-full md:mt-16">
        <div class="w-[70%] max-w-[5000px] mx-auto">
            {{ user:reset_password_form }}

                <h1 class=" text-3xl mb-8">Wachtwoord wijzigen</h1>

                {{ if success }}
                    <div class="bg-green-400 rounded text-white p-2 mb-4">
                        Wachtwoord is gewijzigd.<br>
                    </div>

                {{ elseif url_invalid }}
                    <div class="bg-red-400 rounded text-white p-2 mb-4">
                        Deze url is ongeldig.
                    </div>

                {{ else }}

                    {{ if errors }}
                        <div class="bg-red-400 rounded text-white p-2 mb-4">
                            {{ errors }}
                            {{ value }}<br>
                            {{ /errors }}
                        </div>
                    {{ /if }}

                    <div>
                        <label class="mb-2 block">Email</label>
                        <input class="border border-gray-300 rounded w-full block px-2 py-1" type="email" name="email" />
                    </div>

                    <label class="mb-2 mt-6 block">Wachtwoord</label>
                    <div class="flex items-center">
                        <input id="password" class="border border-gray-300 rounded w-full block px-2 py-1 pr-10" type="password"
                            name="password"/>
                        <i id="toggle-password" class="fa-regular fa-eye-slash -ml-8 cursor-pointer"></i>
                    </div>

                    <label class="mt-6 block">Password Confirmation</label>
                    <div class="flex items-center">
                        <input id="password-confirmation" class="border border-gray-300 rounded w-full block px-2 py-1 pr-10" type="password"
                            name="password_confirmation"/>
                        <i id="toggle-password-confirmation" class="fa-regular fa-eye-slash -ml-8 cursor-pointer"></i>
                    </div>

                    <button class="primary-btn w-full block mt-16" type="submit">Verzenden</button>

                {{ /if }}

            {{ /user:reset_password_form }}
        </div>

    </div>
</div>

{{# _____________________ Scripts ____________________ #}}

{{ partial:script_password_toggle }}

<script>
    const togglePasswordConfirmation = document.querySelector('#toggle-password-confirmation');
    const passwordConfirmation = document.querySelector('#password-confirmation');

    togglePasswordConfirmation.addEventListener('click', () => {
        const type = passwordConfirmation.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordConfirmation.setAttribute('type', type);

        if(togglePasswordConfirmation.classList.contains('fa-eye-slash')){
            togglePasswordConfirmation.classList.remove('fa-eye-slash');
            togglePasswordConfirmation.classList.add('fa-eye');
        }else{
            togglePasswordConfirmation.classList.remove('fa-eye');
            togglePasswordConfirmation.classList.add('fa-eye-slash');
        }
    });
</script>

{{ else }}
{{ redirect to="/" }}
{{ /if }}
