{{?
    use Statamic\Facades\Entry;

    // Fetch data and save in a cookie, the saved data will be used in the editor using JavaScript.
    $entry = Entry::findByUri('/' . $source_slug);

    function saveCookie($content)
    {
        setcookie("pageContent", json_encode($content), time()+3600, '/');
    }

    if(isset($folder_slug) && $folder_slug === "start-pagina"){
        if($page_slug === "info"){
            $document_content = $entry->get('main_page_content');
            saveCookie($document_content);
        }else{

            $document_content = $entry->get('hero_description');
            saveCookie($document_content);
        }
    }else {
        $document_content = $entry->get('document_content');

        foreach($document_content as $key => $content) {
            if(isset($folder_slug)){
                if(isset($content['title_folder']) && strtolower(trim(preg_replace('/[^A-Za-z0-9-]+/', '-', $content['title_folder']))) === $folder_slug){

                    foreach ($content['pages'] as $key => $page) {
                        if($page_slug === $page["slug"]){
                            saveCookie($page['page_layout']);
                        }
                    }
                }


            }else{
                if(isset($content["slug"]) && $page_slug === $content["slug"]){
                    saveCookie($content['page_layout']);
                }
            }


        }
    }

?}}

{{# ____________ Check if the user has the right to access this page ___________ #}}
{{ partial:check_access check_specific="{{ true }}" }}
{{ collection:sources slug:is="{{ source_slug }}" status:in="published|draft" }}

    <div class="popupContainer"></div>
    <div class="mt-20 w-full fixed shadow-md z-[5] bg-slate-50">
        <div class="w-full bg-[#B0D2A8] flex justify-between py-6 px-12 items-center">
            <div>

                {{ if folder_slug === 'start-pagina'}}
                    <h3 class="mt-2 mb-4 text-xl ">{{$ $page_slug === 'hero-description' ? 'Hero description' : 'Start pagina info'; $}}</h3>

                {{ else }}
                    {{# page name #}}

                    {{ document_content }}
                        {{ if !folder_slug }}

                            {{ if type == "new_page"}}
                                {{ if slug === $page_slug }}
                                    <h3 class="mt-2 mb-4 text-2xl ">{{ title_page }}</h3>
                                {{ /if }}
                            {{ /if }}

                        {{ else }}

                            {{ if type == "new_folder" }}

                                {{? $slugify_folder_name = strtolower(trim(preg_replace('/[^A-Za-z0-9-]+/', '-', $title_folder))) ?}}

                                {{ if $slugify_folder_name === folder_slug }}
                                    {{ pages }}
                                        {{ if type == "new_page" }}
                                            <h3 class="mt-2 mb-4 text-2xl ">{{ title_page }}</h3>
                                        {{ /if }}
                                    {{ /pages }}
                                {{ /if }}
                            {{ /if }}
                        {{ /if }}
                    {{ /document_content }}
                {{ /if }}

                <p>Account/ thema-dossiers/ name-website</p>
            </div>


            <div class="flex gap-24 items-center">
                {{# ____________________ Remove current page __________________ #}}
                {{ if folder_slug || page_slug && folder_slug !== 'start-pagina' }}
                    <form action="/remove-page" method="post" name="delete page">
                        {{ csrf_field }}
                        <input type="hidden" name="source_id" value="{{ id }}">
                        <input type="hidden" name="page_slug" value=" {{ page_slug }}">
                        <input type="hidden" name="location" value="{{$ isset($folder_slug) ? $folder_slug : 'root' $}}">

                        <button type="submit" class="flex justify-center items-center w-14 h-14 bg-white rounded-full">
                            <i class="fa-regular fa-trash-can text-[#ee7070] text-2xl block"></i>
                        </button>
                    </form>
                {{ /if }}

                {{# ____________ Save content of the page__________________#}}
                <form action="/update-{{$ isset($folder_slug) && $folder_slug === 'start-pagina' ? 'main-page' : 'page' $}}" method="post" name="update page content">
                    {{ csrf_field }}
                    <input type="hidden" name="page_content" class="page-content">
                    <input type="hidden" name="source_id" value="{{ id }}">
                    <input type="hidden" name="page_slug" value=" {{ page_slug }}">
                    <input type="hidden" name="location" value="{{$ isset($folder_slug) ? $folder_slug : 'root' $}}">

                    <button type="submit" class="primary-btn">Opslaan</button>
                </form>
            </div>

        </div>

        {{# _______________ Editor main navigation________________ #}}
        <div class="bg-slate-50 px-[5%]">
            {{ partial:navigations/editor_nav }}

            <p class="word-count mb-4 text-right text-zinc-400"></p>
        </div>
    </div>


    <div class=" py-[450px] md:py-96 w-[90%] mx-auto">

        {{# ______________WYSIWYG editor (with tip tap) ___________________#}}
        <div class="wysiwyg-editor">


            {{# __________________ Buble color menu ____________________#}}
            {{ partial:navigations/color_menu_mini_site }}
        </div>

    </div>

{{ /collection:sources }}



