<!-- Display source content -->

{{ partial:check_access }}

{{? $link = explode("/", $_SERVER['REQUEST_URI']); ?}}

{{ if is_verdiepingsdossier }}
    <div class="md:flex">

        {{# _________________________Overlay___________________________ #}}
        <div id="overlay" class="bg-[#000000a5] top-0 fixed w-screen h-screen hidden"></div>

        {{# ________________________Sidebar__________________________ #}}
        <div id="sidebar" class="relative w-[20%] hidden md:block">
            <aside class="bg-[#edf3ec] border-r-2 h-full fixed top-16 md:top-0 pt-14 md:pt-0 w-[20%]">
                <button id="close-sidebar" class="block md:hidden"><i class="fa-solid fa-xmark"></i></button>

                {{# Start btn #}}
                <div class=" bg-middle-green md:mt-20 w-full p-6">
                    <a href="{{ slug }}" class=" block text-middle-green bg-white py-2 w-full font-bold text-center rounded-lg">Start pagina</a>
                </div>

                {{# Navigation #}}
                <div class="pb-56 px-8 overflow-y-auto h-full">
                    {{ document_content }}
                        {{ if type == "new_folder" }}

                            <div class="nav-folder">
                                <div class="flex justify-between content-center gap-6 mb-2 mt-10">
                                    <h4 class="font-bold text-lg max-w-[150px] text-darker-green">{{ title_folder }}</h4>

                                    <button class="toggle-arrow"><i class="fa-solid fa-chevron-down text-darker-green"></i></button>

                                </div>

                                <div class="hidden child-pages">
                                    {{ pages }}
                                        {{ if type == "new_page" }}
                                            <a class="block mt-2 ml-4 hover:text-[#20af6f]" href="/{{$ $link[1] . '/' $}}{{ slug }}">{{ title_page}}</a>

                                        {{ /if }}
                                    {{ /pages }}
                                </div>

                            </div>

                        {{ /if }}

                        <div class="mb-2">
                            {{ if type == "new_page" }}
                                <a class="block mt-4 hover:text-[#20af6f]" href="/{{$ $link[1] . '/' $}}{{ slug }}">{{ title_page}}</a>
                            {{ /if }}
                        </div>

                        {{# {{ partial:navigations/mini_site_nav }} #}}
                    {{ /document_content }}
                </div>

            </aside>
        </div>

        {{# ____________________________Content________________________ #}}
        <div class="md:mt-20 max-w-[1200px] w-[80%] ">

            {{# __________________Hero__________________________ #}}
            <div class="mx-auto md:px-[10%] pb-8 bg-[#B0D2A8]">

                <div class="py-8 ">
                    <ul class="breadcrumbs flex">
                        {{ nav:breadcrumbs }}
                        <li class="font-semibold {{ if is_current }} text-white {{ /else }} text-[#ffffffc5] {{ /if }}">
                            <a href="{{ url }}">{{ slug }}</a>
                            <p class="inline-block text-[#ffffffc5]">{{ if !is_current }} / {{ /if }}</p>
                        </li>
                        {{ /nav:breadcrumbs }}
                    </ul>

                </div>


                <div class="flex gap-16">
                    <div class="w-[40%]">
                        <img src="{{ main_image }}" class="block rounded-xl" alt="">
                        <i class="text-[#ffffffbe] text-md block mt-6">{{ last_modified }}</i>
                    </div>


                    <div>
                        <h1 class="text-3xl mb-10 text-white">{{ title }}</h1>

                        <div class="text-white source-content-container">
                            {{ hero_description }}
                        </div>
                    </div>

                </div>
            </div>
            <div class="flex gap-8 w-full bg-[#6d975d] px-[10%] py-4">
                {{ categories }}
                    <a href="{{ url }}" class="bg-[#ffffffb8] px-3 py-1 block rounded text-green-900"># {{ title }}</a>
                {{ /categories }}
            </div>

            <div class="md:px-[10%] mt-24">

                {{# __________________Dynamic content_________________ #}}
                <div class="source-content-container">
                    {{ main_page_content }}
                        {{ if type == "text" }}
                            <div class="text">
                                {{ text }}
                            </div>
                        {{ else }}
                             {{ partial src="sets/{type}" }}
                        {{ /if }}

                    {{ /main_page_content }}

                    {{# __________________Chapters__________________ #}}
                    <h2 class="mt-24 mb-6">Hoofdstukken</h2>

                    <div class="grid-container mb-12">

                        {{ document_content }}

                            {{ if type == "new_folder" }}
                                {{ pages.0 }}
                                    {{ if type == "new_page" }}
                                    <a href="/{{$ $link[1] . '/' $}}{{ slug }}" class="block bg-gradient-to-t from-[#A6F2C2] to-[#E1F0AF] p-6 rounded-xl">
                                    {{ /if }}
                                {{ /pages.0 }}

                                    <div class="text-center">
                                        <i class="fa-solid fa-folder bg-white p-8 rounded-full text-[#87DFB6] text-5xl"></i>
                                    </div>

                                    <p class="text-center mt-6 text-darker-green font-bold">{{ title_folder }}</p>
                                </a>
                            {{ /if }}
                        {{ /document_content }}

                    </div>

                    <h2 class="mt-24 mb-6">Auteur(s)</h2>
                    <div class="mb-24 flex gap-24">

                        {{ author  }}
                            <div>

                                {{ if (avatar) }}
                                    <img src="{{ avatar }}" class="w-20 h-20 rounded-full object-cover mx-auto" alt="profile picture">
                                {{ else }}
                                    <div class="bg-gradient-to-r from-lime-400 to-emerald-500 rounded-full w-20 h-20 flex justify-center items-center mx-auto">
                                        <span class="text-2xl font-bold text-white capitalize">{{$ substr($first_name, 0, 1); $}}</span>
                                    </div>
                                {{ /if }}

                                <p class="text-center mt-6 font-bold">{{ first_name }} {{ last_name }}</p>

                            </div>
                        {{ /author }}
                    </div>

                </div>

                {{# Exta sources in the same category #}}
                <div class="mt-28 mb-20">
                    {{ partial:source_content/more_sources }}
                </div>
            </div>
        </div>
    </div>


{{ else }}
    <div class="md:mt-36 max-w-[1200px] w-[80%] mx-auto">



        {{# <div class="my-12 bg-[#d3ede4] w-full py-6 px-12 rounded-xl ">
            <h2 class="text-2xl mb-6 text-gray-500">Auteur:</h2>
            {{ partial:source_content/author }}
        </div> #}}

        {{ partial:breadcrumbs }}

        <h1 class="text-3xl mt-16">{{ title }}</h1>

        <div class="my-12">
            <hr>
            <div class=" mt-8">
                {{ partial:source_content/author }}
            </div>

            <div class="flex gap-8 my-8">
                {{ categories }}
                    <a href="{{ url }}" class="bg-lighter-green px-3 py-1 block rounded text-white"># {{ title }}</a>
                {{ /categories }}
            </div>

            <hr>
        </div>


        {{# Layout #}}
        <div class="source-content-container">
            {{ layout_content }}
                {{ if type == "text" }}
                    <div class="text">
                        {{ text }}
                    </div>

                {{ else }}
                    {{ partial src="sets/{type}" }}
                {{ /if }}


            {{ /layout_content }}
        </div>

        {{ partial:source_content/special_content }}


    </div>

    {{# Exta sources in the same category #}}
    <div class="mt-28 w-[85%] mx-auto mb-20">
        {{ partial:source_content/more_sources }}
    </div>

{{ /if }}

{{ partial:scripts/script_mini_site_toggle_nav }}
