<!-- Display source content -->

{{ partial:check_access }}

<div class="md:mt-36 max-w-[1200px] w-[80%] mx-auto">

    {{ partial:breadcrumbs }}

    <h1 class=" text-4xl mt-8 mb-10">{{ title }}</h1>

    {{# Layout #}}
    <div class="source-content-container">
        {{ layout_content }}
            {{ if type == "text" }}
                <div class="text">
                    {{ text }}
                </div>
            {{ /if }}

            {{ partial src="sets/{type}" }}
        {{ /layout_content }}
    </div>


    {{# <p>{{ content }}</p> #}}




    {{# Show pdf #}}
    {{ if (pdf) }}
    <div class="mt-12">
        {{ pdf }}
        <object class="w-full mb-12 h-[400px] md:h-[800px] rounded-xl" type="application/pdf"
            data="{{ url }}?#zoom=100&scrollbar=0&toolbar=1&navpanes=0">
            <p class=" text-red-500">The pdf can not be displayed.</p>
        </object>
        {{ /pdf }}
    </div>

    {{ /if }}

    {{# Show embeded escaperoom #}}
    {{ if (edu_escaperoom) }}
    <iframe class="w-full mt-12 rounded-xl" src="{{ edu_escaperoom }}" frameborder="0" height="600"
        allowfullscreen></iframe>

    {{ /if }}


    {{# Show videos #}}
    {{ if (videos) }}
        {{ videos }}

            {{ if video | is_embeddable }}
                <!-- Youtube and Vimeo -->
                <div class="videowrapper my-12">
                    <iframe class="w-full rounded-xl" src="{{ video | embed_url }}" frameborder="0" allowfullscreen></iframe>
                </div>
            {{ else }}
                <!-- Other HTML5 video types -->
                <video src="{{ video | embed_url }}" ...></video>
            {{ /if }}

        {{ /videos }}

    {{ /if }}




    {{ categories }}
    <li><a href="{{ url }}">{{ title }}</a></li>
    {{ /categories }}

</div>

{{# Exta sources in the same category #}}
<div class="mt-28 w-[85%] mx-auto mb-20">
    {{ partial:more_sources }}

</div>


{{# Scripts #}}

{{ partial:scripts/script_slider }}

<script>
    const tables = document.querySelectorAll('table');

    tables.forEach((table)=>{
        // create wrapper container
        const wrapper = document.createElement('div');
        wrapper.className = 'table-container';
        // insert wrapper before el in the DOM tree
        table.parentNode.insertBefore(wrapper, table);
        // move el into wrapper
        wrapper.appendChild(table);
    });

</script>
